@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Fraunces';
  src: url('../starter-code/assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Manrope';
  src: url('../starter-code/assets/fonts/manrope/Manrope-VariableFont_wght.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
